* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  margin-bottom: 50px;
}

.nav-default {
  background-color: aliceblue;
  height: 103px;
}
.nav-default ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 103px;
  gap: 24px;
  padding-right: 140px;
}
.nav-default ul li:first-child {
  margin-left: auto;
}

.nav-with-logo {
  background-color: rgb(227, 238, 249);
  height: 103px;
}
.nav-with-logo ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 103px;
  gap: 24px;
  padding-right: 140px;
}
.nav-with-logo ul li:first-child {
  margin-right: auto;
}
.nav-with-name {
  background-color: rgb(185, 215, 246);
  height: 103px;
}
.nav-with-name ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 103px;
  gap: 24px;
  padding-right: 140px;
}
.nav-with-name ul li:first-child {
  margin-right: auto;
}
.nav-with-name ul li:nth-child(5) .btn {
  padding: 19px 41px;
  color: white;
  text-decoration: none;
  display: inline-block;
}
.nav-with-name ul li:nth-child(5) {
  color: #fbf8fc;
}
.nav-with-name ul li:nth-child(5) :hover {
  color: #fcfafc;
}
.btn {
  padding: 19px 41px;
  color: rgb(251, 249, 249);
  text-decoration: none;
  display: inline-block;
}
.btn-square {
  background-color: #2063f3;
}
.btn-square:hover {
  background-color: #b3c8ed;
}
.nav-with-name ul li:nth-child(6) {
  color: #faf6f6;
}
.nav-with-name ul li:nth-child(6) :hover {
  color: #fffdfd;
}

.nav-with-blog {
  background-color: rgb(158, 202, 245);
  height: 103px;
}
.nav-with-blog ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 103px;
  gap: 24px;
  padding-right: 140px;
}
.nav-with-blog ul li:first-child {
  margin-right: auto;
}
.nav-with-blog ul li:nth-child(4) {
  margin-right: auto;
}
